<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- 配置 favicon.ico不进行安全拦截-->
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/data/**" security="none"/>
    <http pattern="/fonts/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/user/add.do" security="none"/>
    <http pattern="/user/sendcode.do" security="none"/>

    <!-- 页面拦截规则 -->
    <http use-expressions="false" entry-point-ref="casProcessingFilterEntryPoint" >
        <intercept-url pattern="/**" access="ROLE_USER" />
        <csrf disabled="true"/>
        <!-- 如果用户不具备角色，跳转到cas过滤器-->
        <custom-filter ref="casAuthenticationFilter" position="CAS_FILTER"/>
        <custom-filter ref="requestSingleLogoutFilter" position="LOGOUT_FILTER"/>
        <custom-filter ref="singleLogoutFilter" before="CAS_FILTER"/>
    </http>

    <!-- 声明和springsecurity整合的cas注入对象-->
    <beans:bean id="casProcessingFilterEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <!-- 配置单点登录服务器地址-->
        <beans:property name="loginUrl" value="http://192.168.188.129:9100/cas/login"/>
        <!-- 服务属性配置-->
        <beans:property name="serviceProperties" ref="serviceProperties"/>
    </beans:bean>

    <!-- 配置服务器属性-->
    <beans:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <!-- 配置客户端工程的地址+/login/cas-->
        <beans:property name="service" value="http://localhost:9106/login/cas"/>

    </beans:bean>

    <!-- cas认证过滤器-->
    <beans:bean id="casAuthenticationFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <!-- 配置认证管理器-->
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>

    <!-- 认证管理器-->


    <!-- 认证管理器 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="casAuthenProvider">
        </authentication-provider>
    </authentication-manager>

    <!-- 创建认证实现对象-->
    <beans:bean id="casAuthenProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <!-- 认证服务-->
        <beans:property name="authenticationUserDetailsService">
            <beans:bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <beans:constructor-arg ref="userDetailService"/>
            </beans:bean>
        </beans:property>
        <!-- 服务属性-->
        <beans:property name="serviceProperties" ref="serviceProperties"/>

        <!-- 凭证验证-->
        <beans:property name="ticketValidator">
            <beans:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <beans:constructor-arg index="0" value="http://192.168.188.129:9100/cas"/>

            </beans:bean>
        </beans:property>
        <beans:property name="key" value="an_id_for_this_auth_provider_only"/>
    </beans:bean>


    <!-- 认证处理类-->
    <beans:bean id="userDetailService" class="com.offcn.user.service.UserDetailServiceImpl"/>

    <!-- 单点登出  开始  -->
    <beans:bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>
    <beans:bean id="requestSingleLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <beans:constructor-arg value="http://192.168.188.129:9100/cas/logout?service=http://localhost:9103"/>
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
        </beans:constructor-arg>
        <beans:property name="filterProcessesUrl" value="/logout/cas"/>
    </beans:bean>
    <!-- 单点登出  结束 -->

</beans:beans>